{%extends 'base.html'%}
{%block title%}About Us{%endblock title%}
{%block body%}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4"><b>About Us</b></span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Who Are We</h1>
        <p class="col-md-8 fs-4">We are here to providing you a simple and unique software for managing and organizing the books rented by students.Our Software keeps track  of all the activities which book is rented and returned by students.A student can see the list of books available in library.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Why It is Necessary</h2>
          <p>In the modern times it is difficult to manage all the things on pen and register and it is also time consuming.So our software can save a lot of time of your organization and it is also cost feasible.So A Library Management System can lead to a lot of advantages.In this time everything is developing so it is time to upgrade yourself.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Why To Choose Us</h2>
          <p>There are many reasons to choose us.But what you want? What we want? Do you really know? So the answer is You need service and we want to provide world class service for you.So we are best in market by providing you a software which really helps you in various aspects.Suppose you want a sofware that works according you in a feasible cost price.So why  are you looking so much? We provide you everything according to your need and which is best in market.</p>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}