{%extends 'base.html'%}
{%block title%}Contact Us{%endblock title%}
{%block body%}
<div class="container">
<form method="post" action="/contactus" class="row g-3 needs-validation" novalidate style="margin:5px auto">
  {% csrf_token %}
  <img src="/static/contact.jpg" alt="..." width="100px" height="400px">
  <h1>We'll Reach To You Soon!</h1>
    <div class="col-md-4">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
      <div class="valid-feedback">
      </div>
    </div>
    <div class="col-md-4">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="col-md-4">
        <label for="phone" class="form-label">Contact No.</label>
        <input type="text" maxlength="10" class="form-control" id="phone" name="phone" required>
        <div class="valid-feedback">
        </div>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Tell Us! Why Do You Want To Contact? </label>
        <textarea class="form-control" id="desc" name="desc" rows="3" style="width:600px"></textarea>
      </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
{%endblock body%}