{%block body%}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'carousel.css' %}">
<div class="container marketing">
    <div class="row">
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><img src='/media/{{book.0.image}}' class="img-thumbnail rounded mx-auto d-block" style="margin-top:-120px;height:272px;width:202px" alt="..."></svg>
          <h3 class="fw-normal" id="namepr{{book.0.book_id}}">{{book.0.book_name}}</h3>
          <p>Book ISBN-{{book.0.book_isbn}}</p>
          <p style="margin-top:-10px">Publishing Date-{{book.0.pub_date}}</p>
          <p style="margin-top:-10px">{{book.0.book_des}}</p>
          <p style="margin-top:-10px">Rental Price-{{book.0.book_price}}Rs./Day</p>
          <a href="delete/{{book.0.book_id}}"><p><button id="pr{{book.0.book_id}}" class="btn btn-secondary cart">Remove Book &raquo;</button></p></a>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><img src='/media/{{book.1.image}}' class="img-thumbnail rounded mx-auto d-block" style="margin-top:-120px;height:272px;width:202px" alt="..."></svg>
          <h3 class="fw-normal" id="namepr{{book.1.book_id}}">{{book.1.book_name}}</h3>
          <p>Book ISBN-{{book.1.book_isbn}}</p>
          <p style="margin-top:-10px">Publishing Date-{{book.1.pub_date}}</p>
          <p style="margin-top:-10px">{{book.1.book_des}}</p>
          <p style="margin-top:-10px">Rental Price-{{book.1.book_price}}Rs./Day</p>
            <a href="delete/{{book.1.book_id}}"><p><button id="pr{{book.1.book_id}}" class="btn btn-secondary cart">Remove Book &raquo;</button></p></a>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><img src='/media/{{book.2.image}}' class="img-thumbnail rounded mx-auto d-block" style="margin-top:-120px;height:272px;width:202px" alt="..."></svg>
          <h3 class="fw-normal" id="namepr{{book.2.book_id}}">{{book.2.book_name}}</h3>
          <p>Book ISBN-{{book.2.book_isbn}}</p>
          <p style="margin-top:-10px">Publishing Date-{{book.2.pub_date}}</p>
          <p style="margin-top:-10px">{{book.2.book_des}}</p>
          <p style="margin-top:-10px">Rental Price-{{book.2.book_price}}Rs./Day</p>
          <a href="delete/{{book.2.book_id}}"><p><button class="btn btn-secondary">Remove Book &raquo;</button></p></a>
        </div>
        <hr>
        {% for i in book|slice:"3:"%}
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><img src='/media/{{i.image}}' class="img-thumbnail rounded mx-auto d-block" style="margin-top:-120px;height:272px;width:202px" alt="..."></svg>
          <h3 class="fw-normal" id="namepr{{i.book_id}}">{{i.book_name}}</h3>
          <p>Book ISBN-{{i.book_isbn}}</p>
          <p style="margin-top:-10px">Publishing Date-{{i.pub_date}}</p>
          <p style="margin-top:-10px">{{i.book_des}}</p>
          <p style="margin-top:-10px">Rental Price-{{i.book_price}}Rs./Day</p>
            <a href="delete/{{i.book_id}}"><p><button id="pr{{i.book_id}}" class="btn btn-secondary cart">Remove Book &raquo;</button></p></a>
        </div>
          {% if forloop.counter|divisibleby:3 and forloop.counter > 0 %}
      </div>
      <hr>
          <div class="row">
        {%endif%}
        {% endfor %}
      </div>
    </div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>