{%extends 'base.html'%}
{%block title%}Search Page{%endblock title%}
{%block body%}
{% load static %}
<link rel="stylesheet" href="{% static 'carousel.css' %}">
<div class="container marketing">
  <h3 class="text-center">Your Search Results</h3>
    <div class="row">
      <div class="row">
      {% if allbooks|length < 1 %}
        <div class="alert alert-warning my-4" role="alert">
          Book Related With Your Search Not Found!
      </div>
      {% endif %}
        {% for i in allbooks|slice:"0:"%}
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><img src='/media/{{i.image}}' class="img-thumbnail rounded mx-auto d-block" style="margin-top:-120px;height:272px;width:202px" alt="..."></svg>
          <h3 class="fw-normal" id="namepr{{i.book_id}}">{{i.book_name}}</h3>
          <p>Book ISBN-{{i.book_isbn}}</p>
          <p style="margin-top:-10px">Publishing Date-{{i.pub_date}}</p>
          <p style="margin-top:-10px">{{i.book_des}}</p>
          <p style="margin-top:-10px">Rental Price-{{i.book_price}}Rs./Day</p>
          <span id="divpr{{i.book_id}}" class="divpr">
          <p><button id="pr{{i.book_id}}" class="btn btn-secondary cart">Buy On Rent &raquo;</button></p>
          </span>
        </div>
          {% if forloop.counter|divisibleby:3 and forloop.counter > 0 %}
      </div>
      <hr>
          <div class="row">
        {%endif%}
        {% endfor %}
          </div>
        </div>
{%endblock%}